<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Print To PDF</Name><AddInID>{0e00aebe-8808-4265-a808-14517b06a0f1}</AddInID><Description>This addin allows the arcpy.mapping.PrintMap to work with tables in a layout.</Description><Version>0.1</Version><Image /><Author>Eric Mahaffey</Author><Company>Zekiah Technologies, Inc.</Company><Date>08/29/2013</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="PrintToPDF_AddIn_addin.py" namespace="PrintToPDF_AddIn_addin"><ArcMap>
    <Commands>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Print To PDF" class="ExtensionClass1" description="This addin allows the arcpy.mapping.PrintMap to work with tables in a layout." id="PrintToPDF_AddIn_addin.extension2" name="Print To PDF" productName="Print To PDF" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>